.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.leftSection {
    display: flex;
    flex-direction: column;
}

.gainInfo {
    display: flex;
    gap: 8px;
    margin-top: 6px;
    align-items: center;
}

.trendInfo {
    display: flex;
    gap: 4px;
    align-items: center;
}

.rightSection {
    display: flex;
    gap: 12px;
    align-items: center;
}

.select {
    min-width: 200px;
}

@media (max-width: 1350px) {
    .container{
        display: grid;
        gap: 20px;
        justify-content: stretch;
    }

    .rightSection {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media (max-width: 768px) {
    .rightSection {
        grid-template-columns: 1fr;
    }
    
}