.title {
    color: var(--colors-text-text-primary-900, #181D27);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-xl, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-xl, 30px); /* 150% */
    margin-bottom: 48px;
}

.price {
    color: var(--colors-text-text-primary-900, #181D27);
    font-family: var(--Font-family-font-family-display, Inter);
    font-size: var(--Font-size-display-lg, 48px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-display-lg, 60px); /* 125% */
    letter-spacing: -0.96px;
    margin-bottom: 4px;
}

.priceInput {
    margin-bottom: 4px;
}

.priceInput :global(.ant-input-number) {
    width: 120px;
    font-size: 32px;
    font-weight: 700;
}

.period {
    color: var(--colors-text-text-tertiary-600, #535862);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    margin-bottom: 30px;
}

.periodSelect {
    margin-bottom: 16px;
}


.modeButton {
    display: flex;
    padding: var(--spacing-lg, 12px) 18px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 6px);
    align-self: stretch;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D5D7DA);
    background: var(--Colors-Background-bg-primary, #FFF);
    box-shadow: 0 0 0 1px var(--Colors-Effects-Shadows-shadow-skeumorphic-inner-border, rgba(10, 13, 18, 0.18)) inset, 0 -2px 0 0 var(--Colors-Effects-Shadows-shadow-skeumorphic-inner, rgba(10, 13, 18, 0.05)) inset, 0 1px 2px 0 var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
    color: var(--colors-text-text-secondary-700, #414651);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    width: 100%;
    margin-bottom: 8px;
}

