.wrapper{
    margin-top: 24px;
}

.title{
    color: var(--colors-text-text-primary-900, #181D27);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    margin-bottom: 24px;
}