.priceBlock {
    overflow: hidden;
    position: sticky;
    top: 130px;
    border-radius: var(--radius-xl, 12px);
    border: 1px solid var(--Colors-Border-border-secondary, #E9EAEB);
    background: var(--Colors-Background-bg-primary, #FFF);
    box-shadow: 0 1px 2px 0 var(--Colors-Effects-Shadows-shadow-xs, rgba(10, 13, 18, 0.05));
}
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.body{
    padding: 20px;
}
.title {
    color: var(--colors-text-text-primary-900, #181D27);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-lg, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-lg, 28px); /* 155.556% */
}
.description {
    color: var(--colors-text-text-tertiary-600, #535862);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    margin-bottom: 24px;
}
.price {
    color: var(--colors-text-text-primary-900, #181D27);
    font-family: var(--Font-family-font-family-display, Inter);
    font-size: var(--Font-size-display-sm, 30px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-display-sm, 38px); /* 126.667% */
    margin-bottom: 12px;
}
.button{
    width: 100%;
    margin-bottom: 12px;
}
.note {
    color: var(--colors-text-text-tertiary-600, #535862);
    text-align: center;
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px); 
    width: 60%;
    margin: 0 auto;
}



